<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671686911741-nm5qib2ahr474rgr9l2q94gsv22m4rpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671686911741-nm5qib2ahr474rgr9l2q94gsv22m4rpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDuEVtRcK81AFoQ9AVY67S9gecSMc0PpsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>671686911741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br2-ios-base</string>
	<key>PROJECT_ID</key>
	<string>br2-ios-base</string>
	<key>STORAGE_BUCKET</key>
	<string>br2-ios-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671686911741:ios:afa1e63debc9f3ef8ec094</string>
</dict>
</plist>